<!doctype html>
<html>
<body>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pythonuser</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    

<nav class="navbar bg-dark navbar-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Python Knowledge Share</span>
   
    <a href="/login/" class="btn btn-success btn-lg">Back To Login </a>
  </div>
</nav>

<center>

    <style>
    body {
      background-color:  #cfcfcf;
    }
    </style>
   
    <h1 class="text-center text-success"> Basic Python</h1>
    <div class="container-fluid">
    </center>
        <form action="{% url "register" %}" method="POST" class="row g-3">
            {% csrf_token%}
        <center>

              <div class="col-md-6">
                <a href="/overview/">python Overview</a>
              </div><br>
            
            <div class="col-md-6">
              <a href="/Variable/">python variable</a>
            </div><br>
            <div class="col-md-6">
              <a href="/keywords/">Python Keywords and Identifies</a> 
          </div><br>
            <div class="col-md-6">
                <a href="/Loops/">Python loops</a> 
            </div><br>

            <div class="col-md-6">
              <a href="/condition/">Python condition</a> 
          </div><br>

          <div class="col-md-6">
            <a href="/tuple/">Python Tuple</a> 
        </div><br>

        <div> <class="col-md-6">
          <a href="/set/">Python Set</a> 
      </div><br>

      <div><class="col-md-6">
        <a href="/directory/">Python Directory</a>
      </div><br>
      <div><class="col-md-6">
        <a href="/dictionary/">Python dictionary</a>
      </div><br>

      <div><class="col-md-6">
        <a href="/module/">Python Differents modules</a>
      </div><br>
      
          <div><class="col-md-6">
          <a href="/function/">Python Function</a>
        </div><br><br>
      </center>

            <div class="col-12">
            <center>
            </div>
            
          </form>
          <div class="form-group">
            {% for message in messages %}
            <div class ="alert alert-danger" role="alert">
              {{message}}
            </div>
            {% endfor %}
          </div>
        </center>    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>