</html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pythonuser</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    

<nav class="navbar bg-dark navbar-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Python Knowledge Share</span>
    <a href="/basic/" class="btn btn-success btn-lg">Back To basic </a>
   
  </div>
</nav><br>

<!Doctype html>


<style>
  body {
    background-color:  #eedd82;
  }
  </style>
<html>
    <h2>Python Conditions</h2><br>
<body>
  <h> 1. Equals</h><br><br>
  <h> 2. Not Equals</h><br><br>
  <h> 3. Less than</h><br><br>
 <h>  4. Less than or equal to</h><br><br>
  <h> 5. Greater than</h><br><br>
<h>   6. Greater than or equal to</h><br><br>
</body>
</html>
