

</html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pythonuser</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    

<nav class="navbar bg-dark navbar-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Python Knowledge Share</span>
    <a href="/basic/" class="btn btn-success btn-lg">Back To basic</a>
    
   
  </div>
</nav><br>

<!Doctype html>

<style>
    body {
      background-color:  #eedd82;
    }
    </style>
<html>
    <h2>Python Keywords and Identifies</h2><br>
<body>
1. True False <br>   
    print(5==5)
    True<br>
    print(5 greater than 5)
    False
<br><br>

2.None <br>
    print(none==0) False <br>
    print(none==none) True</h1><br><br>


 3.def a_void_function() <br>
    def a_void_function():<br>
        a=1<br>
        b=2<br>
        c=a+b<br>
    x=a_void_function()<br>
    print(x)<br><br>


 4.and,Or,Not <br>
    print(True and Flase) False <br>
    print(True or False)  True<br>
    print(not false )True<br>
<br><br>

 5.as <br>
    import math as myMath<br>
    print( myMath.cos( myMath.pi))
<br><br>

 6.assert <br>
    assert 5 greater than 5  False <br>
    assert 5==5   True
<br><br>

 7.Break <br>
    for i in range(1,11):<br>
    if i==5:<br>
    break<br>
    print(i)<br>   
<br><br>

 8.Continue <br>
    for i in range(1,8):<br>
    if i==5:<br>
    Continue <br>
    print(i)
<br><br>

 9.class <br>
    Class ExampleClass:<br>
    def function1(parameters):<br>
        print("function1() executing---")<br>
    def function2(parameters):<br>
        print("function2() executing---")<br>
ob1=ExampleClass()<br>
ob1.function1()<br>
ob1.function2()<br>
<br><br>

 10.def <br>
    def function_name(parameters)<br>
        pass<br>
    function_name()
<br><br>

 11.for <br>
    for i in range (1,10):<br>
    print(i)<br>
<br><br>

 12.if_elif_else <br>
num=2<br>
if num==1:<br>
    print("one")<br>
elif num==2:<br>
    print("two")<br>
else:
    print("something else")<br>
<br><br>



 13.from_import <br>
    import math<br>
    from math import cos<br>
    print(cos(10))<br>

<br><br>

 14.global <br>
    globvar=10<br>
    def read1():<br>
    print(globvar)<br>
    def write1():
    global globvar<br>
    globvar=5<br>
    def write2():<br>
    globvar=15<br>
read1()<br>
write1()<br>
read1()<br>
write2()<br>
read1()<br>
<br>


 15.in <br>
    a=[1,2,3,4]<br>
    print(4 in a)<br>
    True
<br><br>

 

 16.lambda  <br>
    a=lambda X:x*2
    for i in range(1,6):<br>
    print(a(i))<br>
<br><br>

 17.return <br>
    def func_return():<br>
    a=10<br>
    return a<br>
print(func_return())
<br><br>

18.while  <br>
    i=5<br>
    while(i Greater 0):<br>
    print(i)<br>
    i=i-1
<br><br>
 
</body>
</html>
