</html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pythonuser</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
<nav class="navbar bg-dark navbar-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Python Knowledge Share</span>
    <a href="/basic/" class="btn btn-success btn-lg">Back To basic</a>  
  </div>
</nav><br>

<!Doctype html>

<style>
  body {
    background-color:  #eedd82;
  }
  </style>
<html>
    <h2>Python Loops Types</h2><br>
<body>
 1. If Else <br><br>
n=3<br>
if n==3:<br>
    print("numbr is three")<br>
else:<br>
    print("numer is two")<br><br>

 2.For loop <br><br>

n=[1,2,3,4]<br>
for i in n:<br>
print(i)<br><br>

3.While loop <br><br>
i=1<br>
while (i >=3):<br>
print("hello")<br>
i=i+1<br><br>

 4.Nested loop <br><br>
 if_elif_else <br>
num=2<br>
if num==1:<br>
    print("one")<br>
elif num==2:<br>
    print("two")<br>
else:
    print("something else")<br>
<br><br>
</body>
</html>
