</html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>authbyuser</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
<nav class="navbar bg-dark navbar-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Python Knowledge Share</span>
    <a href="/basic/" class="btn btn-success btn-lg">Back To basic</a>
  </div>
</nav><br>

<style>
  body {
    background-color:  #eedd82;
  }
  </style>
<!Doctype html>
<html>
    <h2>Python Overview </h2><br>
<body>
# What is Python ? <br>

Python is General purpose and high level language.<br>
Python is simple language to learn<br>
Python is a dynamic .<br>
It is popular programming language .<br>
Python is one of the  importent language<br><br>


# why it is used <br>
    
Simple and  easy to learn<br>
Python is platform independent language(all platform on run )<br>
Free  and open source (code is available)<br>
Interpreted (bytecode -compiled)<br>
Rich libarary support<br>
Embeddable Etensible<br>
Portable<br>
Robust<br><br>
</body>
</html>
