</html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>authbyuser</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    
<nav class="navbar bg-dark navbar-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Python Knowledge Share</span>
    <a href="/basic/" class="btn btn-success btn-lg">Back To basic</a>
    
   
  </div>
</nav><br>

<!Doctype html>

<style>
    body {
      background-color:  #eedd82;
    }
    </style>
<html>
    <h2>Python Tuples</h2><br>
<body>

Tuple is a datatype of python used to store multiple element in single variable is called Tuple <br>

# Creating Empty tuple <br>
    tuple=()<br>
    Print(tuple)
 <br><br>

# Creating tuple with integer elements <br>
    tuple2=(1,2,3)<br>
    print(tuple2)<br>
<br><br>


#  Tuple with mixed datatype <br>
    tuple3=(101,"marri",200000.00,"HR dept")<br>
    print(tuple3)<br>
<br><br>


# Creating Nested tuple <br>
    tuple2=("points",[1,2,3],(7,4,3))<br>
    print(tuple2)<br>
<br><br>


# Tuple can be created without any paraenthis <br>
    # Also called tuple packing <br>
    tuple=101,"marri",200000.00,"HR dept"<br>
    print(tuple)<br>
<br><br>

# Accessing Element in a  tuple <br>
    tuple2=('w','R','H')<br>
    print(tuple2)<br>
    print(tuple2[1])<br>
    print(tuple2[2])<br>
<br><br>

# Slicing  tuple Contents<br>
    tuple2=('w','R','H','l')<br>
    print(tuple2)<br>
    print(tuple2[1:3])<br>
    print(tuple2[ :2])<br>
<br><br>

# Iteration through  tuple Element<br>
    tuple2=('w','R','H')<br>
    for letters in tuple2:<br>
    print("letters is",letters)
<br><br>

# Built in function with  tuple <br>
    tuple=(23,44,88,99)<br>
    print(tuple)<br>
    print(max(tuple))<br>
    print(min(tuple))<br>
    print(sorted(tuple))<br>
    print(len(tuple))<br>
<br>
</body>
</html>
